body {
    background-color: purple;
}

td {
    color: white;
    font-family: "Arial"
}

table {
    background-color: rgb(50, 50, 50);
}

.page {
    color: white;
    font-size: 18px;
    transition: opacity 100ms ease;
}

.links:hover > .page {
    opacity: 0.4;
}

.links:hover > .page:hover {
        opacity: 1;

}
.links a {
    text-decoration: none;
}

.zoompic {
    overflow: hidden;
    margin: 0 auto;
}

.zoompic img {
    display: block;
    margin: auto;
    width: 50%;
    transition: 500ms all ease-in-out;
}

.zoompic img:hover {
    transform: scale(1.5);
}

#references , th {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 4px;

}

.center {
    text-align: center;
    list-style-position: inside;
}

